* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f9fbfd !important;
}

.border {
  border-width: thin;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.12);
}